.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.note-card {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  cursor: pointer;
}

.note-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.note-card p {
  font-size: 14px;
}
